![](https://file%2B.vscode-resource.vscode-cdn.net/g%3A/Mi%20unidad/DataEngineer/python/NoteBooks/04%20Proyecto/ARQUITECTURA/ArquitecturaProyectoPython.jpg?version%3D1662789195856)

## 1 Importar Librerias necesarias

In [1]:
import glob  
import pandas as pd  
import xml.etree.ElementTree as ET  
from datetime import datetime
import sqlalchemy as db
from sqlalchemy import create_engine
import pymysql
import mysql.connector


import warnings
warnings.filterwarnings("ignore")

## 2 Logs - temporales - destinos

In [2]:
logfile = "dealership_logfile.txt" # se almacenarán todos los registros de eventos

## 3 Funciones para extracción de datos

In [3]:
def customer():
    return ['customer_id','customer_fname','customer_lname','customer_email','customer_password','customer_street','customer_city','customer_state','customer_zipcode'],'customer','df_customer_ext'
def departments():
    return ['department_id','department_name'],'departments','df_departments_ext'
def categories():
    return ['category_id','category_department_id','category_name'],'categories','df_categories_ext'
def products():
    return ['product_id','product_category_id','product_name','product_description','product_price','product_image'],'products','df_products_ext'
def orders():
    return ['order_id','order_date','order_customer_id','order_status'],'orders','df_orders_ext'
def order_items():
    return ['order_item_id','order_item_order_id','order_item_product_id','order_item_quantity','order_item_subtotal','order_item_product_price'],'order_items','df_order_items_ext'

def headerTable(number):
    numberTable = {
        1: customer,
        2: departments,
        3: categories,
        4: products,
        5: orders,
        6: order_items,
        7: lambda: "only 1 to 6"
    }

    return numberTable.get(number, lambda: "no number table exist")()

In [4]:
def extract_from_csv(file_to_process,numberTable): 
    
    dataframe = pd.read_csv(file_to_process, encoding='ISO-8859-1',sep='|',header=None,names=headerTable(numberTable)[0]) 
    return dataframe

In [5]:
path = 'data/'
def extract(numberTable):
    extracted_data = pd.DataFrame(columns=headerTable(numberTable)[0])
    #for csv files
    for csvfile in glob.glob(path+headerTable(numberTable)[1]):
        extracted_data = extracted_data.append(extract_from_csv(csvfile,numberTable), ignore_index=True)
    return extracted_data

## 4 Conexiones a bases de datos

In [6]:
SERVER = '192.168.1.7'
DATABASE = 'DomVentas'
DRIVER = 'SQL Server Native Client 11.0'
USERNAME = 'sa'
PASSWORD = '********'
DATABASE_CONNECTION = f'mssql://{USERNAME}:{PASSWORD}@{SERVER}/{DATABASE}?driver={DRIVER}'
enginesqlserver = db.create_engine(DATABASE_CONNECTION)
connsqlserver = enginesqlserver.connect()

In [7]:
connmysql = mysql.connector.connect(
  host="192.168.1.7",
  user="administrator",
  passwd="****",
  database="domventas"
)
enginemysql = db.create_engine('mysql://administrator:1971@192.168.1.7:3306/domventas')
cursormysql = connmysql.cursor()

## 5 Funciones para carga y lectura de datos desde bd

In [8]:
sql = 'truncate table '

def loadsql(numberTable):
    dtf = extract(numberTable) 
    connsqlserver.execute(sql + headerTable(numberTable)[1])
    dtf.to_sql(headerTable(numberTable)[1], connsqlserver, if_exists='append', index = False)
    dtf.drop

## 6 Funciones para manejo de logs

In [9]:
def log(message):
    timestamp_format = '%H:%M:%S-%h-%d-%Y'
    #Hour-Minute-Second-MonthName-Day-Year
    now = datetime.now() # get current timestamp
    timestamp = now.strftime(timestamp_format)
    with open("dealership_logfile.txt","a") as f: f.write(timestamp + ',' + message + 'n')

## 7 Proceso de extracción y carga

In [12]:
log("ETL Job Extration Started")

#############################
log("Extract phase Started")

for num in range(1,7):      
    loadsql(num)

log("Extract phase Ended")

## 8 Lecturas de tablas extraidas

In [11]:

log("ETL Job Read Started")

#############################
log("Read phase Started")

df_customers_ext = pd.read_sql('select * from customer', con=connsqlserver)
df_departments_ext = pd.read_sql('select * from departments', con=connsqlserver)
df_categories_ext = pd.read_sql('select * from categories', con=connsqlserver)
df_products_ext = pd.read_sql('select * from products', con=connsqlserver)
df_orders_ext = pd.read_sql('select * from orders', con=connsqlserver)
df_order_items_ext = pd.read_sql('select * from order_items', con=connsqlserver)

log("Read phase Ended")

## 9 Subdomino productos: incluye depatamento - categoria - producto

In [12]:
# las categorias 49 a la 58 estan asociads al category_department_id=8 pero este no exite en departments
#df_departments_ext.sort_values(by=['department_id'])

df_departments_ext.merge(df_categories_ext, left_on='department_id', right_on='category_department_id', how='right', indicator=True)
df_departments_ext.merge(df_categories_ext, left_on='department_id', right_on='category_department_id', how='right', indicator=True) \
  .query('_merge == "right_only"') \
  .drop('_merge', 1)[['category_id','category_department_id','category_name']]

    category_id  category_department_id         category_name
48           49                       8                   MLB
49           50                       8                   NFL
50           51                       8                   NHL
51           52                       8                   NBA
52           53                       8                  NCAA
53           54                       8                   MLS
54           55                       8  International Soccer
55           56                       8        World Cup Shop
56           57                       8           MLB Players
57           58                       8           NFL Players

In [13]:
# se debe realizar outer para mantener aun asi la data sin mutaciones e incluir category_department_id=8
df_bvp_products = df_departments_ext.merge(df_categories_ext, left_on='department_id', right_on='category_department_id', how='outer')

df_bvp_products

,department_id,department_name,category_id,category_department_id,category_name
0,2.0,Fitness,1,2,Football
1,2.0,Fitness,2,2,Soccer
2,2.0,Fitness,3,2,Baseball & Softball
3,2.0,Fitness,4,2,Basketball
4,2.0,Fitness,5,2,Lacrosse
5,2.0,Fitness,6,2,Tennis & Racquet
6,2.0,Fitness,7,2,Hockey
7,2.0,Fitness,8,2,More Sports
8,3.0,Footwear,9,3,Cardio Equipment
9,3.0,Footwear,10,3,Strength Training
10,3.0,Footwear,11,3,Fitness Accessories
11,3.0,Footwear,12,3,Boxing & MMA
12,3.0,Footwear,13,3,Electronics
13,3.0,Footwear,14,3,Yoga & Pilates
14,3.0,Footwear,15,3,Training by Sport
15,3.0,Footwear,16,3,As Seen on TV!
16,4.0,Apparel,17,4,Cleats
17,4.0,Apparel,18,4,Men's Footwear
18,4.0,Apparel,19,4,Women's Footwear
19,4.0,Apparel,20,4,Kids' Footwear
20,4.0,Apparel,21,4,Featured Shops
21,4.0,Apparel,22,4,Accessories
22,5.0,Golf,23,5,Men's Apparel
23,5.0,Golf,24,5,Women's Apparel
24,5.0,Golf,25,5,Boys' Apparel
25,5.0,Golf,26,5,Girls' Apparel
26,5.0,Golf,27,5,Accessories
27,5.0,Golf,28,5,Top Brands
28,5.0,Golf,29,5,Shop By Sport
29,6.0,Outdoors,30,6,Men's Golf Clubs
30,6.0,Outdoors,31,6,Women's Golf Clubs
31,6.0,Outdoors,32,6,Golf Apparel
32,6.0,Outdoors,33,6,Golf Shoes
33,6.0,Outdoors,34,6,Golf Bags & Carts
34,6.0,Outdoors,35,6,Golf Gloves
35,6.0,Outdoors,36,6,Golf Balls
36,6.0,Outdoors,37,6,Electronics
37,6.0,Outdoors,38,6,Kids' Golf Clubs
38,6.0,Outdoors,39,6,Team Shop
39,6.0,Outdoors,40,6,Accessories
40,6.0,Outdoors,41,6,Trade-In
41,7.0,Fan Shop,42,7,Bike & Skate Shop
42,7.0,Fan Shop,43,7,Camping & Hiking
43,7.0,Fan Shop,44,7,Hunting & Shooting
44,7.0,Fan Shop,45,7,Fishing
45,7.0,Fan Shop,46,7,Indoor/Outdoor Games
46,7.0,Fan Shop,47,7,Boating
47,7.0,Fan Shop,48,7,Water Sports
48,NaN,NaN,49,8,MLB
49,NaN,NaN,50,8,NFL
50,NaN,NaN,51,8,NHL
51,NaN,NaN,52,8,NBA
52,NaN,NaN,53,8,NCAA
53,NaN,NaN,54,8,MLS
54,NaN,NaN,55,8,International Soccer
55,NaN,NaN,56,8,World Cup Shop
56,NaN,NaN,57,8,MLB Players
57,NaN,NaN,58,8,NFL Players

In [14]:
# productos sin categories - cat 59 no existe en categorias pero si existe en productos

df_bvp_products.merge(df_products_ext, left_on='category_id', right_on='product_category_id', how='right', indicator=True)
df_bvp_products.merge(df_products_ext, left_on='category_id', right_on='product_category_id', how='right', indicator=True) \
  .query('_merge == "right_only"') \
  .drop('_merge', 1)[['product_id','product_category_id','product_name','product_description','product_price','product_image']]

,product_id,product_category_id,product_name,product_description,product_price,product_image
1321,1322,59,Nike Men's Cleveland Browns 'Money Manziel' T,None,30.00,http://images.acmesports.sports/Nike+Men%27s+C...
1322,1323,59,Nike Men's Home Game Jersey Cleveland Browns,None,100.00,http://images.acmesports.sports/Nike+Men%27s+H...
1323,1324,59,Nike Men's Cleveland Browns Johnny Manziel 'M,None,30.00,http://images.acmesports.sports/Nike+Men%27s+C...
1324,1325,59,Nike Johnny Football Camo Graphic T-Shirt,None,30.00,http://images.acmesports.sports/Nike+Johnny+Fo...
1325,1326,59,Nike Youth Home Game Jersey Cleveland Browns,None,70.00,http://images.acmesports.sports/Nike+Youth+Hom...
1326,1327,59,Nike Johnny Football Camo Jersey T-Shirt,None,30.00,http://images.acmesports.sports/Nike+Johnny+Fo...
1327,1328,59,Nike Men's Cleveland Browns Johnny Manziel #2,None,32.00,http://images.acmesports.sports/Nike+Men%27s+C...
1328,1329,59,Nike Men's Cleveland Browns Johnny Football O,None,28.00,http://images.acmesports.sports/Nike+Men%27s+C...
1329,1330,59,Nike Men's Home Game Jersey Denver Broncos Pe,None,100.00,http://images.acmesports.sports/Nike+Men%27s+H...
1330,1331,59,Nike Men's Home Game Jersey Buffalo Bills Sam,None,100.00,http://images.acmesports.sports/Nike+Men%27s+H...
1331,1332,59,Nike Men's Home Game Jersey San Francisco 49e,None,100.00,http://images.acmesports.sports/Nike+Men%27s+H...
1332,1333,59,Nike Men's Home Game Jersey Pittsburgh Steele,None,100.00,http://images.acmesports.sports/Nike+Men%27s+H...
1333,1334,59,Nike Men's Home Game Jersey New Orleans Saint,None,100.00,http://images.acmesports.sports/Nike+Men%27s+H...
1334,1335,59,Nike Men's Andrew Luck Jersey - Home Game Ind,None,100.00,http://images.acmesports.sports/Nike+Men%27s+A...
1335,1336,59,Nike Men's Home Game Jersey New York Giants O,None,100.00,http://images.acmesports.sports/Nike+Men%27s+H...
1336,1337,59,Nike Men's Home Game Jersey Carolina Panthers,None,100.00,http://images.acmesports.sports/Nike+Men%27s+H...
1337,1338,59,Nike Men's Home Game Jersey Chicago Bears Jar,None,100.00,http://images.acmesports.sports/Nike+Men%27s+H...
1338,1339,59,Nike Men's Home Game Jersey New York Giants E,None,100.00,http://images.acmesports.sports/Nike+Men%27s+H...
1339,1340,59,Majestic Men's Replica Texas Rangers Russell,None,69.97,http://images.acmesports.sports/Majestic+Men%2...
1340,1341,59,Nike Women's Cleveland Browns Johnny Football,None,34.00,http://images.acmesports.sports/Nike+Women%27s...
1341,1342,59,Nike Men's St. Louis Rams Michael Sam #96 Nam,None,32.00,http://images.acmesports.sports/Nike+Men%27s+S...
1342,1343,59,Nike Men's Home Game Jersey St. Louis Rams Mi,None,100.00,http://images.acmesports.sports/Nike+Men%27s+H...
1343,1344,59,Nike Men's Home Game Jersey St. Louis Rams Aa,None,100.00,http://images.acmesports.sports/Nike+Men%27s+H...
1344,1345,59,Nike Men's Home Game Jersey St. Louis Rams Gr,None,100.00,http://images.acmesports.sports/Nike+Men%27s+H...

In [15]:
# df_bvp_products and df_products_ext right para mantener los 24 registros  adicionales de la categ 59 en products
df_bvp_products = df_bvp_products.merge(df_products_ext, left_on='category_id', right_on='product_category_id', how='right')

In [16]:
# resultado subdominio productos
df_bvp_products.shape

(1345, 11)

## 10 Subdomino clientes:

In [17]:
# tabla unica se mantiene como proviene de la fuente

df_bvc_customer = df_customers_ext

df_bvc_customer.shape

(12435, 9)

## 11 Subdomino ventas:

In [18]:
df_orders_ext.shape

(68883, 4)

In [19]:
df_order_items_ext.shape

(172198, 6)

In [20]:
# descartando order_id que no tienen un order_item_order_id asignado

df_desc_orders_ext = df_order_items_ext.merge(df_orders_ext, left_on='order_item_order_id', right_on='order_id', how='right', indicator=True) \
  .query('_merge == "right_only"') \
  .drop('_merge', 1)[['order_id','order_date','order_customer_id','order_status']]

In [21]:
df_desc_orders_ext

        order_id order_date  order_customer_id order_status
4              3 2013-07-25              12111     COMPLETE
14             6 2013-07-25               7130     COMPLETE
69            22 2013-07-25                333     COMPLETE
77            26 2013-07-25               7562     COMPLETE
93            32 2013-07-25               3960     COMPLETE
...          ...        ...                ...          ...
183612     68867 2014-06-23                869     CANCELED
183622     68872 2014-06-29               3354     COMPLETE
183628     68874 2014-07-03               1601     COMPLETE
183631     68876 2014-07-06               4124     COMPLETE
183632     68877 2014-07-07               9692      ON_HOLD

[11452 rows x 4 columns]

In [22]:
df_orders_ext

       order_id order_date  order_customer_id     order_status
0             1 2013-07-25              11599           CLOSED
1             2 2013-07-25                256  PENDING_PAYMENT
2             3 2013-07-25              12111         COMPLETE
3             4 2013-07-25               8827           CLOSED
4             5 2013-07-25              11318         COMPLETE
...         ...        ...                ...              ...
68878     68879 2014-07-09                778         COMPLETE
68879     68880 2014-07-13               1117         COMPLETE
68880     68881 2014-07-19               2518  PENDING_PAYMENT
68881     68882 2014-07-22              10000          ON_HOLD
68882     68883 2014-07-23               5533         COMPLETE

[68883 rows x 4 columns]

In [23]:
#eliminando las ordenes que no tienen un order_item_order_id asignado
df_orders_ext_new = df_desc_orders_ext.merge(df_orders_ext, left_on='order_id', right_on='order_id', how='right', indicator=True) \
  .query('_merge == "right_only"') \
  .drop('_merge', 1)[['order_id','order_date_y','order_customer_id_y','order_status_y']] 

df_orders_ext_new.columns = ['order_id', 'order_date', 'order_customer_id', 'order_status']

In [24]:
df_orders_ext_new

       order_id order_date  order_customer_id     order_status
0             1 2013-07-25              11599           CLOSED
1             2 2013-07-25                256  PENDING_PAYMENT
3             4 2013-07-25               8827           CLOSED
4             5 2013-07-25              11318         COMPLETE
6             7 2013-07-25               4530         COMPLETE
...         ...        ...                ...              ...
68878     68879 2014-07-09                778         COMPLETE
68879     68880 2014-07-13               1117         COMPLETE
68880     68881 2014-07-19               2518  PENDING_PAYMENT
68881     68882 2014-07-22              10000          ON_HOLD
68882     68883 2014-07-23               5533         COMPLETE

[57431 rows x 4 columns]

In [25]:
#Eliminar la columna order_item_id es corrupta

df_order_items_ext = df_order_items_ext.drop(['order_item_id'], axis=1)

In [26]:
df_order_items_ext

,order_item_order_id,order_item_product_id,order_item_quantity,order_item_subtotal,order_item_product_price
0,1,957,1,299.98,299.98
1,2,1073,1,199.99,199.99
2,2,502,5,250.00,50.00
3,2,403,1,129.99,129.99
4,4,897,2,49.98,24.99
...,...,...,...,...,...
172193,68881,403,1,129.99,129.99
172194,68882,365,1,59.99,59.99
172195,68882,502,1,50.00,50.00
172196,68883,208,1,1999.99,1999.99
172197,68883,502,3,150.00,50.00

In [27]:
df_bvo_orders = df_orders_ext_new.merge(df_order_items_ext, left_on='order_id', right_on='order_item_order_id', how='right')

In [42]:
df_bvo_orders

,order_id,order_date,order_customer_id,order_status,order_item_order_id,order_item_product_id,order_item_quantity,order_item_subtotal,order_item_product_price
0,1.0,2013-07-25,11599.0,CLOSED,1,957,1,299.98,299.98
1,2.0,2013-07-25,256.0,PENDING_PAYMENT,2,1073,1,199.99,199.99
2,2.0,2013-07-25,256.0,PENDING_PAYMENT,2,502,5,250.00,50.00
3,2.0,2013-07-25,256.0,PENDING_PAYMENT,2,403,1,129.99,129.99
4,4.0,2013-07-25,8827.0,CLOSED,4,897,2,49.98,24.99
...,...,...,...,...,...,...,...,...,...
172193,68881.0,2014-07-19,2518.0,PENDING_PAYMENT,68881,403,1,129.99,129.99
172194,68882.0,2014-07-22,10000.0,ON_HOLD,68882,365,1,59.99,59.99
172195,68882.0,2014-07-22,10000.0,ON_HOLD,68882,502,1,50.00,50.00
172196,68883.0,2014-07-23,5533.0,COMPLETE,68883,208,1,1999.99,1999.99
172197,68883.0,2014-07-23,5533.0,COMPLETE,68883,502,3,150.00,50.00

## 12 Carga de los subdominios en el market de datos

In [219]:
log("ETL Job Extration Started")

#############################
log("Load subdomain phase Started")

cursormysql.execute('truncate table bvp_products')
cursormysql.execute('truncate table bvc_customer')
cursormysql.execute('truncate table bvo_orders')

df_bvp_products.to_sql('bvp_products', enginemysql, if_exists='append', index=False)    
df_bvc_customer.to_sql('bvc_customer', enginemysql, if_exists='append', index=False)
df_bvo_orders.to_sql('bvo_orders', enginemysql, if_exists='append', index=False)

df_bvp_products.drop
df_bvc_customer.drop
df_bvo_orders.drop

log("Load subdomain phase Ended")

In [28]:
df_bvp_products = pd.read_sql('select * from bvp_products', con=connmysql)
df_bvc_customer = pd.read_sql('select * from bvc_customer', con=connmysql)
df_bvo_orders = pd.read_sql('select * from bvo_orders', con=connmysql)

In [204]:
#df_bvp_products.shape #(1345, 11)
#df_bvc_customer.shape #(12435, 9)
#df_bvo_orders.shape #(172198, 10)

(172198, 10)

## 13 Responder las preguntas de negocio

a.	¿Cuáles son los ingresos por departamento?
b.	¿Cuáles son las categorías más compradas? (identificar el nombre de la categoría)
c.	¿Quiénes son el top 10 de clientes que generan más compras para fidelizarlos?

In [29]:
df_bv_po = df_bvp_products.merge(df_bvo_orders, left_on='product_id', right_on='order_item_product_id', how='right')

In [ ]:
df_bv_po

In [30]:
df_bv_all =  df_bv_po.merge(df_bvc_customer, left_on='order_customer_id', right_on='customer_id', how='left')

In [31]:
df_bv_all.columns

Index(['department_id', 'department_name', 'category_id',
       'category_department_id', 'category_name', 'product_id',
       'product_category_id', 'product_name', 'product_description',
       'product_price', 'product_image', 'order_id', 'order_date',
       'order_customer_id', 'order_status', 'order_item_order_id',
       'order_item_product_id', 'order_item_quantity', 'order_item_subtotal',
       'order_item_product_price', 'customer_id', 'customer_fname',
       'customer_lname', 'customer_email', 'customer_password',
       'customer_street', 'customer_city', 'customer_state',
       'customer_zipcode'],
      dtype='object')

a = R /  para ello tener en cuenta lo siguiente:
los order_status son 'SUSPECTED_FRAUD','PROCESSING','PENDING_PAYMENT','PENDING','PAYMENT_REVIEW','ON_HOLD','COMPLETE','CLOSED','CANCELED'
por lo cual se tienen en cuenta unicamente los COMPLETE

In [32]:
order_status = ['COMPLETE']

df_ing_dep = df_bv_all[df_bv_all.order_status.isin(order_status)][['department_name','order_item_subtotal']]

df_ing_dep = df_ing_dep.groupby(['department_name']).sum()['order_item_subtotal']

df_ing_dep.to_frame('ingresos')

                   ingresos
department_name
Apparel          2423632.54
Fan Shop         5581783.57
Fitness            88422.62
Footwear         1330228.92
Golf             1524022.53
Outdoors          328843.51

b = R /  para ello tener en cuenta lo siguiente:
los order_status son 'SUSPECTED_FRAUD','PROCESSING','PENDING_PAYMENT','PENDING','PAYMENT_REVIEW','ON_HOLD','COMPLETE','CLOSED','CANCELED'
por lo cual se tienen en cuenta unicamente los COMPLETE

In [39]:
order_status = ['COMPLETE']

df_cus_cat = df_bv_all[df_bv_all.order_status.isin(order_status)][['category_name','order_customer_id']]

df_cus_cat = df_cus_cat.groupby(['category_name'], as_index=False).agg(cantidad_compras=('order_customer_id', pd.Series.nunique)) #count

df_cus_cat.sort_values( by ='cantidad_compras', ascending= False)

           category_name  cantidad_compras
7                 Cleats              5173
22        Men's Footwear              4896
30       Women's Apparel              4703
19  Indoor/Outdoor Games              4391
9                Fishing              4082
29          Water Sports              3701
5       Camping & Hiking              3430
6       Cardio Equipment              3270
24         Shop By Sport              2925
8            Electronics               963
0            Accessories               580
14            Golf Balls               477
11        Girls' Apparel               376
28              Trade-In               337
15           Golf Gloves               332
2    Baseball & Softball               200
17                Hockey               194
16            Golf Shoes               190
12          Golf Apparel               152
18    Hunting & Shooting               147
4           Boxing & MMA               132
20      Kids' Golf Clubs               129
21              Lacrosse               113
10   Fitness Accessories               106
27      Tennis & Racquet                95
23      Men's Golf Clubs                85
25                Soccer                52
31    Women's Golf Clubs                50
26     Strength Training                49
13     Golf Bags & Carts                21
3             Basketball                19
1        As Seen on  TV!                18

c = R /  para ello tener en cuenta lo siguiente:
los order_status son 'SUSPECTED_FRAUD','PROCESSING','PENDING_PAYMENT','PENDING','PAYMENT_REVIEW','ON_HOLD','COMPLETE','CLOSED','CANCELED'
por lo cual se tienen en cuenta unicamente los COMPLETE

In [41]:
order_status = ['COMPLETE']

df_cus_ord = df_bv_all[df_bv_all.order_status.isin(order_status)][['customer_id','customer_fname','customer_lname']]

df_cus_ord = df_cus_ord.groupby(['customer_fname','customer_lname'], as_index=False).agg(cantidad_compras=('customer_id', pd.Series.count)) #nunique

df_cus_ord = df_cus_ord.sort_values( by ='cantidad_compras', ascending= False)

df_cus_ord

     customer_fname customer_lname  cantidad_compras
3339           Mary          Smith              7900
1586          James          Smith               237
4042         Robert          Smith               230
873           David          Smith               218
1890           John          Smith               215
...             ...            ...               ...
1302         George         Morton                 1
1286           Gary         Stuart                 1
3499          Megan        Johnson                 1
3515        Melissa        Benitez                 1
2624         Martha           Haas                 1

[4723 rows x 3 columns]